.vitrine{
    display: flex;
    margin-top: 80px;
    margin-bottom: 80px;
    max-width: 1280px;
    justify-content: space-between;
    position: relative;
    width: 100%;

    .itens{
        // border: 1px solid red;
        width: 280px;
        height: 450px;
        display: flex;
        align-items: flex-end;
        justify-content: center;
        .background{
            position: absolute;
            z-index: 1;
        }
        .title{
            position: absolute;
            z-index: 2;
            margin-bottom: 40px;
        }
    }
}